<div>
  <app-signup (sendSignupData)="sendSignupDetails($event)"></app-signup>
  <app-login (sendevent)="sendLoginDetails($event)">
  </app-login>
  <app-display [UserData]="userDetails">
  </app-display>
</div>
