* {
  font-family: sans-serif;
}

div {
  display: flex;
  background-image: linear-gradient(77deg, #0987ff 0%, #484ecb 60%);
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: wheat;
  margin: 1rem;
}

h2{
  background-color: #0987ff;
  border-radius: 2rem;
}

p {
  background-color: #484ecb;
  border-radius: 1rem;
}