
<div class="container">
    <h2>{{UserData.userName}}</h2>
    <p>Email:{{UserData.userEmail}}</p>
    <p>City:{{UserData.userCity}}</p>
    <p>Role:{{UserData.userRole }}</p>
    <p>Salary:{{UserData.userSalary}}</p>
    

</div>
