form{
    display: flex;
flex-direction: column;
width: 60%;
border-radius: 2rem;
background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   padding: 2rem;
   margin: 1rem;

   justify-content: center;
    opacity: 0.9;
  }
  label{
    margin: 0.3rem;
    color: blue($color: #000000);
  }
  button{
    margin: 1rem;

    background-image: linear-gradient(77deg, #0987ff 0%, #484ecb 100%);
    border: none;
    border-radius: 2rem;
    padding: 0.3rem;

  }
  *{
    font-family: sans-serif;
  
  }
 input{
    background-color: bisque;
    border-radius: 2rem;
    border: none;
 }
 