<form action="" #f="ngForm">
    <h1>Login</h1>
    <label for="email">Email</label>
    <input type="email" name="email" for="email"  id="email" ngModel />
    <label for="Password">Password</label>
    <input type="password" name="password" for="password" id="password" ngModel/>
    <button (click)="onSubmitform(f)" >Login</button>
</form>
