/* You can add global styles to this file, and also import other style files */
* {
    --font-family-sans-serif: "Open Sans",
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


}

button:hover{
    cursor: pointer;
    }
