<form action="" #f="ngForm" (ngSubmit)="onSubmitSignupform(f)">

    <h1>SignUp</h1>
    <label for="">Name</label>
    <input type="text" name="name" id="name" ngModel />
    <label for="">Email</label>
    <input required #email="ngModel" type="email" name="email" ngModel />
    <label for="Password">Password</label>
    <input type="password" name="password" for="password" id="password" ngModel/>
    <label for="">Role</label>
    <input type="text" name="role" id="role" ngModel />
    <label for="">Salary</label>
    <input type="text" name="salary" id="salary" ngModel />
    <label for="">City</label>
    <input type="text" name="city" id="city" ngModel />
    <button >Signup</button>
</form>